.myHeading {
}

.row {
}

.m-0telefonlar {
}

.telefonlar {
}

.telefonlar {
  height: 624px;
}

.ip-15 {
  background-color: #F5F5F6;
  background-image: url("../../assets/img/iPhone15.webp");
  background-size: cover;
  background-position: center;
}

